<!-- Top Bar -->
<div id="top-nav" class="bar">
  <a href="http://www.axisphilly.org"><img class="logo" alt="AxisPhilly: Where News Breaks Through" src="https://s3.amazonaws.com/axisphilly-assets/images/axisphilly-logo-equal-height.png"></a>
  <a href="#" class="small button radius nav-button info"><img src='img/info.png'>Info</a>
  <a href="#" class="small button radius nav-button embed"><img src='img/code.png'>Embed this map</a>
</div>
<div id="title-bar"><strong>Murder in the 22nd District</strong></div>

<!-- Map -->
<div id="map"></div>
<div id="data-controls">
  <div id="year_selector" class="cartodb_infobox selector">
    <ul>
      <li data="all" class="selected">All Years</li>
      <li data="1988">1988</li>
      <li data="1989">1989</li>
      <li data="1990">1990</li>
      <li data="1991">1991</li>
      <li data="1992">1992</li>
      <li data="1993">1993</li>
      <li data="1994">1994</li>
      <li data="1995">1995</li>
      <li data="1996">1996</li>
      <li data="1997">1997</li>
      <li data="1998">1998</li>
      <li data="1999">1999</li>
      <li data="2000">2000</li>
      <li data="2001">2001</li>
      <li data="2002">2002</li>
      <li data="2003">2003</li>
      <li data="2004">2004</li>
      <li data="2005">2005</li>
      <li data="2006">2006</li>
      <li data="2007">2007</li>
      <li data="2008">2008</li>
      <li data="2009">2009</li>
      <li data="2010">2010</li>
      <li data="2011">2011</li>
      <li data="2012">2012</li>
      <li data="2013">2013</li>
    </ul>
  </div>
  <div class="switch candy yellow" onclick="">
    <input id="murders" name="view" type="radio" checked>
    <label for="murders" onclick="">Murders</label>

    <input id="shootings" name="view" type="radio"> 
    <label for="shootings" onclick="">Shootings</label>
    
    <a class="slide-button"></a>
  </div>
</div>
<div class="description" id="browser-description">
  <h2>Murder in the 22nd District</h2>
  <div class="byline"><span class="byline-author">by Daniel Denvir and <a href="http://axisphilly.org/author/casey/" title="Posts by Casey Thomas" rel="author">Casey Thomas</a>, </span><span class="byline-date">May 20, 2013</span></div>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>

<!-- Bottom bar -->
<div id="bottom-nav" class="bar">
  <a href="#" class="small button radius nav-button embed bottom"><img src='img/code.png'>Embed this map</a>
</div>