<!-- Top Bar -->
<div id="top-nav" class="bar">
  <a href="http://www.axisphilly.org"><img class="logo" alt="AxisPhilly: Where News Breaks Through" src="https://s3.amazonaws.com/axisphilly-assets/images/axisphilly-logo-equal-height.png"></a>
  <a href="#" class="small button radius nav-button info"><img src='img/info.png'>Info</a>
</div>

<!-- Mobile title bar -->
<div id="title-bar"><strong>The Price of Revenge</strong></div>

<!-- Map -->
<div id="map"></div>

<!-- Map data controls -->
<div id="data-controls">
  <div id="year-selector" class="cartodb_infobox selector">
    <ul>
      <li data-year="all" class="selected">2003 - 2013</li>
      <li data-year="2013">2013</li>
      <li data-year="2012">2012</li>
      <li data-year="2011">2011</li>
      <li data-year="2010">2010</li>
      <li data-year="2009">2009</li>
      <li data-year="2008">2008</li>
      <li data-year="2007">2007</li>
      <li data-year="2006">2006</li>
      <li data-year="2005">2005</li>
      <li data-year="2004">2004</li>
      <li data-year="2003">2003</li>
    </ul>
  </div>
  <div class="switch candy yellow" onclick="">
    <input id="murder" name="view" type="radio" checked>
    <label for="murder" onclick="">Murders</label>

    <input id="shooting" name="view" type="radio"> 
    <label for="shooting" onclick="">Shootings</label>
    
    <a class="slide-button"></a>
  </div>
</div>

<!-- Description -->
<div class="description" id="browser-description">
  <h2>Dispatches from Killadelphia</h2>
  <h5>On the front lines of Philly's war on murder</h5>
  <div class="byline"><span class="byline-author">by Daniel Denvir and <a href="http://axisphilly.org/author/casey/" title="Posts by Casey Thomas" rel="author">Casey Thomas</a>, </span><span class="byline-date">September 26th, 2013</span></div>
  <p>Philadelphia's murder problem is decades in the making, stemming from a lack of opportunities for young people, a dangerous drug market, the proliferation of cheap guns and a culture of feuding and retaliation.</p> <p>This is murder in Philly by the numbers: Eighty-three percent of alleged perpetrators in 2012 were black, as were 80 percent of the victims. Eight in 10 murder victims were felled by gunfire. Last year, the most popular firearm model was a 9 mm handgun. Most perpetrators and most victims had one or more prior arrests; a good deal had many. And murders were concentrated in black neighborhoods where poverty is high and jobs are few.</p>
  <p>Read the <a href="http://citypaper.net/article.php?A-decade-of-war-in-Philly-s-deadliest-neighborhood-16233" target="_blank">full story</a> on CityPaper</p>
</div>

<!-- Legend -->
<div class="legend">
  <% include _legend.html %>
</div>

<!-- Bottom bar -->
<div id="bottom-nav" class="bar">
</div>
