<!-- Libraries -->
<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.libraries.min.<%= version %>.js"></script>
<% } else { %>
  <script type="text/javascript" src="js/lib/underscore.js"></script>
  <!--<script type="text/javascript" src="js/lib/leaflet.js"></script>-->
  <!--<script type="text/javascript" src="js/lib/wax.leaf.js"></script>-->
  <script type="text/javascript" src="js/lib/cartodb.js"></script>
  <script type="text/javascript" src="js/lib/foundation.js"></script>
  <script type="text/javascript" src="js/lib/foundation.reveal.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/iscroll.js"></script>
<% } %>

<!-- Init Foundation and Fast Click-->
<script type="text/javascript">
  $(document).ready(function(){
    $(document).foundation();
    FastClick.attach(document.body);
  });
</script>

<!-- App Code -->
<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.<%= version %>.js"></script>
<% } else { %>
  <script type="text/javascript" src="js/app.js"></script>
<% } %>
<script type="text/javascript">
  var zoom = 13,
      center = [39.969, -75.178];

  // Default settings. Zoom and center overridden by URL params, if they exist
  app.opts = {
    mapContainer: 'map',
    tileURL: 'http://api.tiles.mapbox.com/v3/axisphilly.map-rwfs60dd.jsonp',
    mapOptions: {
      center: center,
      zoom: zoom,
      minZoom: 12,
      maxZoom: 18,
      maxBounds: [
        [39.69, -76.20],
        [40.60, -74.14]
      ],
      //zoomControl: false, // disable default, readded to the topright corner in app#initMap
      urlPosition: true // updates url with center/x/y
    }
  }

  // Kick off map
  app.initMap(function() {
    // Add basemap from MapBox
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/axisphilly.map-rwfs60dd/{z}/{x}/{y}.png', {
      attribution: 'Source: Philadelphia Police Department. Basemap: Data © OpenStreetMap contributors. Design © MapBox'
    }).addTo(app.map);

    // Setup the initial data layer
    app.layerName = 'murder';
    app.addCartoDBLayer('murder', '2013');

    // Setup district label
    function onEachFeature(feature, layer) {
      //if (feature.properties && feature.properties.DIST_NUMC) {
      //  layer.bindPopup('District ' + feature.properties.DIST_NUMC);
     // }

      var icon = L.divIcon({
        className: 'district-label',
        html: 'District ' + feature.properties.DIST_NUMC,
        iconSize: new L.Point(80, 18)
      });

      var center = L.polygon(layer._latlngs).getBounds().getCenter();

      L.marker(center, { icon: icon }).addTo(app.map);

    }

    // Add police district layer
    $.ajax({
      url: 'data/districts.json',
      success: function(resp) {
        L.geoJson(resp, {
          style: {
            fill: false,
            weight: 3,
            color: '#FFF',
            opacity: 0.8
          },
          onEachFeature: onEachFeature
        }).addTo(app.map);
      }
    })

    // Setup the year selector control
    app.initYearSelector();

    // iScroll for #year_selector
    var myScroll = new iScroll('year-selector', {
      hScrollbar: false,
      bounce: false
    });

    // iScroll event propagation fix
    $("#year-selector").on("mousewheel", function(event){ event.preventDefault(); }); // Chrome, Safari and IE8+
    $("#year-selector").on("DOMMouseScroll", function(event){ event.preventDefault(); }); // Firefox 14+
    $("#year-selector").on('MozMousePixelScroll', function(event){ event.preventDefault(); });

    // Events
    $('#shooting').click(function(event){
      if(app.layerName !== 'shooting') {
        app.layerName = 'shooting';
        var year = app.getSelectedYear();
        app.addCartoDBLayer(app.layerName, year);
        app.hideLegend();
      }
    });

    $('#murder').click(function(event){
      if(app.layerName !== 'murder') {
        app.layerName = 'murder';
        var year = app.getSelectedYear();
        app.addCartoDBLayer(app.layerName, year);
        app.showLegend();
      }
    });

    $('.info').click(function(event){
      event.preventDefault();

      $('#infoModal').foundation('reveal', 'open');
    });

    $('.embed').click(function(event){
      event.preventDefault();

      $('#embedModal code').html('<code>&lt;iframe width="100%" height="600" src="' + 
        'http://apps.axisphilly.org/dispatches-from-killadelphia/embed.html' + location.hash + '" frameborder="0"></iframe></code>');
      $('#embedModal').foundation('reveal', 'open');
    });
  });
</script>
<!-- modals -->
<div id="embedModal" class="reveal-modal">
  <p>Embed this map on your site by copying and pasting the following code into an article or post:</p>
  <code><script type="text/javascript">window.location</script></code>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div class="description reveal-modal" id="infoModal">
  <h5>On the front lines of Philly's war on murder</h5>
  <div class="byline"><span class="byline-author">by Daniel Denvir and <a href="http://axisphilly.org/author/casey/" title="Posts by Casey Thomas" rel="author">Casey Thomas</a>, </span><span class="byline-date">September 26th, 2013</span></div>
  <p>Philadelphia's murder problem is decades in the making, stemming from a lack of opportunities for young people, a dangerous drug market, the proliferation of cheap guns and a culture of feuding and retaliation.</p> <p>This is murder in Philly by the numbers: Eighty-three percent of alleged perpetrators in 2012 were black, as were 80 percent of the victims. Eight in 10 murder victims were felled by gunfire. Last year, the most popular firearm model was a 9 mm handgun. Most perpetrators and most victims had one or more prior arrests; a good deal had many. And murders were concentrated in black neighborhoods where poverty is high and jobs are few.</p>
  <p>Read Daniel Denvir's <a href="http://citypaper.net/article.php?Dispatches-from-Killadelphia-16309" target="_blank">full story</a> on CityPaper</p>
  <div class="legend info-box">
    <% include _legend.html %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
