<!-- Libraries -->
<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.libraries.min.<%= version %>.js"></script>
<% } else { %>
  <script type="text/javascript" src="js/lib/underscore.js"></script>
  <!--<script type="text/javascript" src="js/lib/leaflet.js"></script>-->
  <!--<script type="text/javascript" src="js/lib/wax.leaf.js"></script>-->
  <script type="text/javascript" src="js/lib/cartodb.js"></script>
  <script type="text/javascript" src="js/lib/foundation.js"></script>
  <script type="text/javascript" src="js/lib/foundation.reveal.js"></script>
  <script type="text/javascript" src="js/lib/fastclick.js"></script>
  <script type="text/javascript" src="js/lib/iscroll.js"></script>
<% } %>

<!-- Init Foundation and Fast Click-->
<script type="text/javascript">
  $(document).ready(function(){
    $(document).foundation();
    FastClick.attach(document.body);
  });
</script>

<!-- App Code -->
<% if(env === 'production') { %>
  <script type="text/javascript" src="js/app.min.<%= version %>.js"></script>
<% } else { %>
  <script type="text/javascript" src="js/app.js"></script>
<% } %>
<script type="text/javascript">
  var zoom = 16,
      center = [39.995, -75.182];

  // Default settings. Zoom and center overridden by URL params, if they exist
  app.opts = {
    mapContainer: 'map',
    tileURL: 'http://api.tiles.mapbox.com/v3/axisphilly.map-rwfs60dd.jsonp',
    mapOptions: {
      center: center,
      zoom: zoom,
      minZoom: 13,
      maxZoom: 18,
      maxBounds: [
        [39.69, -76.20],
        [40.60, -74.14]
      ],
      zoomControl: false, // disable default, readded to the topright corner in app#initMap
      urlPosition: true // updates url with center/x/y
    }
  }

  // Kick off map
  app.initMap(function() {
    // Add basemap from MapBox
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/axisphilly.map-rwfs60dd/{z}/{x}/{y}.png', {
      attribution: 'Source: Philadelphia Police Department. Basemap: Data © OpenStreetMap contributors. Design © MapBox'
    }).addTo(app.map);

    // Setup the initial data layer
    app.layerName = 'murder';
    app.addCartoDBLayer('murder', 'all');

    // Add police district layer
    /*$.ajax({
      url: 'data/police-dist-22.json',
      success: function(resp) {
        L.geoJson(resp, {
          style: {
            fill: false,
            weight: 3,
            color: '#FFF',
            opacity: 0.8
          }
        }).addTo(app.map);
      }
    })*/

    // Add northwest corner of strawberry mansion
    $.ajax({
      url: 'data/corner.json',
      success: function(resp) {
        L.geoJson(resp, {
          style: {
            fill: false,
            weight: 3,
            color: 'red',
            opacity: 0.8
          }
        }).addTo(app.map);
      }
    })

    // Setup the year selector control
    app.initYearSelector();

    // iScroll for #year_selector
    var myScroll = new iScroll('year-selector', {
      hScrollbar: false,
      bounce: false
    });

    // iScroll event propagation fix
    $("#year-selector").on("mousewheel", function(event){ event.preventDefault(); }); // Chrome, Safari and IE8+
    $("#year-selector").on("DOMMouseScroll", function(event){ event.preventDefault(); }); // Firefox 14+
    $("#year-selector").on('MozMousePixelScroll', function(event){ event.preventDefault(); });

    // Events
    $('#shooting').click(function(event){
      if(app.layerName !== 'shooting') {
        app.layerName = 'shooting';
        var year = app.getSelectedYear();
        app.addCartoDBLayer(app.layerName, year);
        app.hideLegend();
      } 
    });

    $('#murder').click(function(event){
      if(app.layerName !== 'murder') {
        app.layerName = 'murder';
        var year = app.getSelectedYear();
        app.addCartoDBLayer(app.layerName, year);
        app.showLegend();
      }
    });

    $('.info').click(function(event){
      event.preventDefault();

      $('#infoModal').foundation('reveal', 'open');
    });

    $('.embed').click(function(event){
      event.preventDefault();

      $('#embedModal code').html('<code>&lt;iframe width="100%" height="600" src="' + 
        'http://apps.axisphilly.org/price-of-revenge/embed.html' + location.hash + '" frameborder="0"></iframe></code>');
      $('#embedModal').foundation('reveal', 'open');
    });
  });
</script>
<!-- modals -->
<div id="embedModal" class="reveal-modal">
  <p>Embed this map on your site by copying and pasting the following code into an article or post:</p>
  <code><script type="text/javascript">window.location</script></code>
  <a class="close-reveal-modal">&#215;</a>
</div>
<div class="description reveal-modal" id="infoModal">
  <h2>The Price of Revenge</h2>
  <h5>Ten years of murder and shootings in Strawberry Mansion</h5>
  <div class="byline"><span class="byline-author">by Daniel Denvir and <a href="http://axisphilly.org/author/casey/" title="Posts by Casey Thomas" rel="author">Casey Thomas</a>, </span><span class="byline-date">September 19, 2013</span></div>
  <p>Shootings in this part of North Philadelphia regularly make the newspaper crime blotters. But Philadelphia's street-corner killings are often embedded in more complicated stories that few outside the neighborhood bother to interpret.</p>
  <p>In the <span class="corner">northwestern corner of Strawberry Mansion</span>, a decade-long gunfight involving three corners has wounded numerous bystanders, led to rampant witness intimidation, destroyed lifelong friendships and killed or incarcerated a generation of young men.</p>
  <div class="legend info-box">
    <% include _legend.html %>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>