<strong>Weapon</strong>
<ul>
  <li>
    <span class="firearm">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="12" width="24">
        <circle cx="8" cy="7" r="4" stroke="white"
        stroke-width="1" fill="red"/>
      </svg>
    </span>
    Firearm
  </li>
  <li>
    <span class="other">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" height="12" width="24">
        <circle cx="8" cy="7" r="4" stroke="white"
        stroke-width="1" fill="blue"/>
      </svg>
    </span>
    Other
  </li>
</ul>